# Initialization

In [30]:
import pandas as pd
import numpy
import scipy
import scipy.stats as sst

%matplotlib inline

EXCEL_LOCATION = "./university data.xlsx"
UBITNAME1 = "suniluma"
PERSON_NUMBER1 = "50249002"
UBITNAME2 = "a45"
PERSON_NUMBER2 = "50244979"

df = pd.read_excel(EXCEL_LOCATION)
df.columns = ["Rank",
              "Name",
              "CS_Score",
              "Research_Overhead",
              "Base_Pay",
              "Tuition_Out_State",
              "GradStudents",
              "TTFaculty",
              "Lecturers",
              "G_TTRatio",
              "G_TTLRatio"]

print("Group members\n")
print("UBITName = {}".format(UBITNAME1))
print("personNumber = {}\n".format(PERSON_NUMBER1))
print("UBITName = {}".format(UBITNAME2))
print("personNumber = {}\n".format(PERSON_NUMBER2))

Group members

UBITName = suniluma
personNumber = 50249002

UBITName = a45
personNumber = 50244979

# Task 1

In [31]:
mu1 = numpy.mean(df["CS_Score"])
mu2 = numpy.mean(df["Research_Overhead"])
mu3 = numpy.mean(df["Base_Pay"])
mu4 = numpy.mean(df["Tuition_Out_State"])

var1 = numpy.var(df["CS_Score"])
var2 = numpy.var(df["Research_Overhead"])
var3 = numpy.var(df["Base_Pay"])
var4 = numpy.var(df["Tuition_Out_State"])

sigma1 = numpy.std(df["CS_Score"])
sigma2 = numpy.std(df["Research_Overhead"])
sigma3 = numpy.std(df["Base_Pay"])
sigma4 = numpy.std(df["Tuition_Out_State"])

print("mu1 = {}".format(mu1))
print("mu2 = {}".format(mu2))
print("mu3 = {}".format(mu3))
print("mu4 = {}\n".format(mu4))

print("var1 = {}".format(var1))
print("var2 = {}".format(var2))
print("var3 = {}".format(var3))
print("var4 = {}\n".format(var4))

print("sigma1 = {}".format(sigma1))
print("sigma2 = {}".format(sigma2))
print("sigma3 = {}".format(sigma3))
print("sigma4 = {}\n".format(sigma4))

mu1 = 3.2142857142857144
mu2 = 53.385714285714286
mu3 = 469178.8163265306
mu4 = 29711.95918367347

var1 = 0.44816326530612227
var2 = 12.588163265306124
var3 = 13900134681.700962
var4 = 30727538.73302791

sigma1 = 0.6694499722205702
sigma2 = 3.5479801669831983
sigma3 = 117898.83240177132
sigma4 = 5543.24261899368

# Task 2

In [32]:
def plotter(df, column1, column2):
    return df.plot.scatter(x=column1, y=column2, style='o')

def covariance_matrix(df):
    array_like_variables = df.as_matrix()[:-1].T
    return numpy.cov(array_like_variables)

def correlation_matrix(df):
    array_like_variables = df.as_matrix()[:-1].T
    return numpy.corrcoef(array_like_variables)

In [33]:
print "covarianceMat = " 
print covariance_matrix(df[["CS_Score",
              "Research_Overhead",
              "Base_Pay",
              "Tuition_Out_State",]])
print ""
print "correlationMat = " 
print correlation_matrix(df[["CS_Score",
              "Research_Overhead",
              "Base_Pay",
              "Tuition_Out_State",]])

SyntaxError: Missing parentheses in call to 'print' (<ipython-input-33-db08f36d455e>, line 1)

In [ ]:
plotter(df,'CS_Score',"Research_Overhead")

In [ ]:
plotter(df,'CS_Score',"Base_Pay")

In [ ]:
plotter(df,'CS_Score',"Tuition_Out_State")

In [ ]:
plotter(df,'Base_Pay',"Research_Overhead")

In [ ]:
plotter(df,'Base_Pay',"Tuition_Out_State")

In [ ]:
plotter(df,'Tuition_Out_State',"Research_Overhead")

# Task 3

In [ ]:
logLikelihood = sst.norm(0,1).pdf(list(df["CS_Score"]))
print logLikelihood